body{
background:#0f0f0f;
color:white;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
}

.hero{
background:#111;
padding:40px;
display:flex;
gap:30px;
}

.movie{
background:#1a1a1a;
padding:15px;
margin:10px;
display:inline-block;
width:220px;
border-radius:10px;
}

button{
background:#ff2c2c;
border:none;
color:white;
padding:10px;
border-radius:6px;
}
